@import '../variables.scss';

.main-content{
  &--logo-large{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    img {
      width: 40%;
    }
  }
  &--contacts{
    margin-bottom: 16px;
    .contact--item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px;
      a{
        color: black;
        font-size: 1.3rem;
        text-decoration: none;
        cursor: pointer;
      }
      span{
        font-size: 1.3rem;
      }
      img{
        margin-right: 8px;
      }
    }
  }
  &--map{
    display: flex;
    flex: 1 0 auto;
    iframe{
      border: 1px solid $gray-500;
      border-radius: 16px;
      width: 100%;
      flex: 1 0 auto;
    }
  }
}