@import '../variables.scss';

.header-slider-portfolio{
  background:
          linear-gradient($primary, transparent),
          linear-gradient(to top left, $white, transparent),
          linear-gradient(to top right, $white, transparent);
  background-blend-mode: screen;
  flex: 1 0 auto;
  .swiper-container-portfolio{
    overflow-x: hidden;
    .swiper-wrapper{
      .swiper-slide{
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .control-btn{
          display: flex;
          position: relative;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          .swiper-button-next, .swiper-button-prev{
            color: $gray-700;
            margin-top: 16px;
            top: unset;
            &:after {
              font-size: calc(var(--swiper-navigation-size) / 2.5);
              font-weight: bold;
            }
            &:focus{
              outline: none;
            }
          }
        }
        img{
          width: 85%;
          margin-bottom: 16px;
        }
        h2{
          font-size: 1.7rem;
          font-weight: normal;
        }
        p{
          text-indent: 1.5rem;
          font-size: 1.2rem;
          text-align: justify;
          padding: 16px;
        }
      }
    }
  }
}