$white:    #fff !default;
$black:    #000 !default;

$primary:       #78C2AD !default;
$secondary-btn:     #AFE0C2 !default;
$header-first-level: #BDC6CA !default;
$header-second-level: #B5B5B5 !default;
$header-third-level: #7A7A7A !default;
$slider-button: #767676 !default;
$block-color: #EFEFEF !default;
$main-text: #525252 !default;
$text-link: #BCBCBC !default;
$hover-link: $white !default;

$main-identation: 12.5%;
$element-identation: 16px;

