@import './pages/contacts.scss';
@import './pages/personalization.scss';
@import './pages/portfolio.scss';
@import './pages/requirements.scss';
@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  font-family: $headings-font-family;
  font-size: 14px;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
  .navbar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: $primary;
    align-items: center;
    justify-content: space-between;
    color: $white;
    @media screen and (min-width: 1024px) {
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: sticky;
      top: 0;
      width: unset;
      padding-left: 24px;
      flex-grow: 1;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.35);
    }
    &--list{
      display: block;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 0;
      top: 49px;
      background-color: $primary;
      overflow: hidden;
      transition: all 0.4s;
      @media screen and (min-width: 1024px) {
        position: unset;
        width: 100%;
        height: unset;
      }
      .list--item {
        list-style: none;
        margin-left: 16px;
        padding: 8px;
        transition: all 0.3s ease;
        a{
          display: inline-block;
          text-decoration: none;
          color: $white;
          font-size: 1.2rem;
        }
        .active{
          color: $black;
        }
        &:hover{
          background: rgba(29, 154, 134, 0.11);
          margin-left: 32px;
        }
      }
      .list--item:nth-child(1){
        margin-top: 16px;
        @media screen and (min-width: 1024px) {
          margin-top: 24px;
        }
      }
      .list--item:nth-child(n+2):nth-child(-n+4){
        margin-top: 16px;
        margin-bottom: 16px;
        @media screen and (min-width: 1024px) {
          margin-top: 24px;
          margin-bottom: 24px;
        }
      }
    }
    &--footer{
      display: none;
      @media screen and (min-width: 1024px) {
        display: block;
        margin-top: auto;
        margin-bottom: 24px;
      }
      .footer-social{
        margin-bottom: 16px;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
    &--logo{
      margin-left: 16px;
      @media screen and (min-width: 1024px) {
        width: 150px;
        height: 120px;
        margin-left: 0;
        margin-top: 24px;
      }
    }
    &--header{
      font-size: 1.6rem;
      transition: all 0.4s;
      @media screen and (min-width: 1024px) {
        margin-top: 24px;
      }
    }
    .burger{
      display: inline-block;
      cursor: pointer;
      margin-right: 16px;
      &--item-one, &--item-two, &--item-three{
        width: 18px;
        height: 2px;
        background-color: $white;
        margin: 3px 0;
        transition: 0.4s;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    .change {
      .burger--item-one {
        -webkit-transform: rotate(-45deg) translate(-7px, 0px);
        transform: rotate(-45deg) translate(-7px, 0px);
      }
      .burger--item-two {
        opacity: 0;
      }
      .burger--item-three {
        -webkit-transform: rotate(45deg) translate(-7px, 0px);
        transform: rotate(45deg) translate(-7px, 0px);
      }
    }
  }
  .header-slider{
    @media screen and (min-width: 1024px) {
      display: none;
    }
    .swiper-container{
      height: 350px;
      text-align: center;
      .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        .blur{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          background-color: black;
          opacity: 0.7;
        }
        span{
          position: absolute;
          z-index: 2;
          width: 80%;
          font-size: 1.5rem;
          text-align: center;
          color: $white;
        }
        img{
          position: absolute;
          width: 100%;
          height: 350px;
        }
      }
    }
  }
  .main-content{
    display: flex;
    flex-direction: column;
    background: $gray-200;
    padding: 16px;
    flex: 1 0 auto;
    @media screen and (min-width: 1024px) {
      flex-grow: 5;
    }
    h1{
      text-align: center;
      font-size: 1.7rem;
      margin-bottom: 16px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &--advantages {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 2px solid $secondary;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 16px;
      h2{
        text-align: center;
        font-size: 1.5rem;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .footer{
    display: flex;
    width: 100%;
    height: 50px;
    flex: 0 0 auto;
    background-color: $gray-500;
    color: white;
    align-items: center;
    justify-content: space-between;
    p{
      font-size: 1.1rem;
      margin-left: 16px;
    }
    img:nth-child(2){
      margin: 0 8px;
    }
    img:last-child{
      margin-right: 16px;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
