@import './pages/contacts.scss';
@import './pages/personalization.scss';
@import './pages/portfolio.scss';
@import './pages/requirements.scss';
@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  font-family: $headings-font-family;
  font-size: 14px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  .navbar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: $primary;
    align-items: center;
    justify-content: space-between;
    color: $white;
    &--list{
      display: block;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 0;
      top: 49px;
      background-color: $primary;
      overflow: hidden;
      transition: all 0.4s;
      .list--item {
        list-style: none;
        margin-left: 16px;
        a{
          display: inline-block;
          text-decoration: none;
          color: $white;
          font-size: 1.6rem;
        }
        .active{
          color: $black;
        }
      }
      .list--item:nth-child(1){
        margin-top: 16px;
      }
      .list--item:nth-child(n+2):nth-child(-n+4){
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
    &--logo{
      margin-left: 16px;
    }
    &--header{
      font-size: 1.6rem;
      transition: all 0.4s;
    }
    .burger{
      display: inline-block;
      cursor: pointer;
      margin-right: 16px;
      &--item-one, &--item-two, &--item-three{
        width: 18px;
        height: 2px;
        background-color: $white;
        margin: 3px 0;
        transition: 0.4s;
      }
    }
    .change {
      .burger--item-one {
        -webkit-transform: rotate(-45deg) translate(-7px, 0px);
        transform: rotate(-45deg) translate(-7px, 0px);
      }
      .burger--item-two {
        opacity: 0;
      }
      .burger--item-three {
        -webkit-transform: rotate(45deg) translate(-7px, 0px);
        transform: rotate(45deg) translate(-7px, 0px);
      }
    }
  }
  .header-slider{
    .swiper-container{
      height: 350px;
      text-align: center;
      .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        .blur{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          background-color: black;
          opacity: 0.7;
        }
        span{
          position: absolute;
          z-index: 2;
          width: 80%;
          font-size: 1.5rem;
          text-align: center;
          color: $white;
        }
        img{
          position: absolute;
          width: 100%;
          height: 350px;
        }
      }
    }
  }
  .main-content{
    display: flex;
    flex-direction: column;
    background:
            linear-gradient($primary, transparent),
            linear-gradient(to top left, $gray-200, transparent),
            linear-gradient(to top right, $gray-200, transparent);
    background-blend-mode: screen;
    padding: 16px;
    flex: 1 0 auto;
    h1{
      text-align: center;
      font-size: 1.7rem;
      margin-bottom: 16px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &--advantages {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 2px solid $secondary;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 16px;
      h2{
        text-align: center;
        font-size: 1.5rem;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }

  }
  .footer{
    display: flex;
    width: 100%;
    height: 50px;
    flex: 0 0 auto;
    background-color: $gray-500;
    color: white;
    align-items: center;
    justify-content: space-between;
    p{
      font-size: 1.1rem;
      margin-left: 16px;
    }
    img:nth-child(2){
      margin: 0 8px;
    }
    img:last-child{
      margin-right: 16px;
    }
  }
}
